<div class="span12 well">
  <div class="accordion" id="accordionQuickV">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger" data-toggle="collapse" data-parent="#accordion2" href="#collapseQuickV">
           Summoner Summary
        </a>
      </div>
      <div id="collapseQuickV" class="accordion-body collapse in">
        <div class="accordion-inner" style="background-color: #ffffff;">

          <div class="row-fluid">
            <div class="span12">
              Summoner Name: <%= @summoner.name %> | Current League: <%= @highest %>
              <%= render "recent_games" %>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<h1>mad, bad or a cool lad</h1>
<%= form_for @review do |f| %>
    <%= f.text_area :description %>
    <%= f.hidden_field :player_id, :value => @summoner.id %>
    <%= f.button :submit %>
<% end %>

