<!DOCTYPE html>
<html>
<head>
  <title>Pickup</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/top_bar" %>
<div class="container-fluid">
  <div class="row-fluid">
    <%= render "shared/nav_bar" %>
    <div class="span10">
        <%= yield %>
    </div>
  </div>

</div>
</div><!--/row-->
<hr>

</div><!--/.fluid-container-->


</body>
</html>
